{% extends "mealPlannerApp/base.html" %}

{% block title %}Add Food{% endblock %}

{% block content %}
<style>
    button {
        display: block;
        width: auto;
        padding: 1vh 1vh;
        margin: 2vh 0;
        font-family: 'Abhaya Libre', serif;
        font-weight: 800;
        font-size: 3vh;
        background-color: #5eb456;
        border-radius: 3vh;
        color: #fff4e7;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: darkgreen;
    }

    .food-btn:hover {
        background-color: rgb(100, 0, 0);
    }
    .container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .container label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .container input[type="text"], input[type="number"] {
        width: calc(100% - 22px);
        padding: 1.5vh 1.5vh;
        margin-bottom: 10px;
        border: 1px solid #000;
        border-radius: 4vh;
        background-color: #fff4e7;
    }
    .container input[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #66b36e;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    .container input[type="submit"]:hover {
        background-color: #4f9a55;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="p-3">
                <!-- Column 1 -->
                <h1>Add Food</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="p-3">
                <!-- Column 2 -->
                <h1>Current Food</h1>
                {% if food_list %}
                    <ul>
                        {% for food in food_list %}
                            <form action="{% url 'mealPlannerApp:delete_food' food.id %}" method="POST">
                                {% csrf_token %}
                                <button class="food-btn">{{food.name}} - Protein: {{ food.protein }}, Fat: {{ food.fat }}, Carbs: {{ food.carbs }}</button>
                            </form>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No macros yet</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}




