{% extends "mealPlannerApp/base.html" %}

{% block content %}
<style>
    input[type="text"]{
        width: 60%;
        padding: 1vh 1vh;
        margin: 0vh 1vh;
        margin-top: 1vh;
        margin-bottom: 5vh;
        background-color: #fff4e7;
        border: 0.25vh solid black;
        border-radius: 4vh;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }
</style>
<div class="form-container">
    <label for="username">Protein</label>
    <input type="text" id="protein" name="protein">

    <label for="username">Fat</label>
    <input type="text" id="Fat" name="Fat">

    <label for="username">Carbs</label>
    <input type="text" id="Carbs" name="Carbs">
</div>
{% endblock %}
